<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlnx.chronic.mapper.TPatientMedcineMapper">
	<resultMap id="BaseResultMap" type="com.mlnx.chronic.entity.TPatientMedcine">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="patient_id" property="patientId" jdbcType="INTEGER" />
		<result column="medcine_id" property="medcineId" jdbcType="INTEGER" />
		<result column="dosis" property="dosis" jdbcType="VARCHAR" />
		<result column="dosingTime" property="dosingtime" jdbcType="VARCHAR" />
		<result column="times" property="times" jdbcType="VARCHAR" />
		<result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
		<result column="doc_id" property="docId" jdbcType="INTEGER" />
		<result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
		<result column="type" property="type" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.mlnx.chronic.vo.Prescription" id="PrescriptionResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="patient_id" property="patientId" jdbcType="INTEGER" />
		<result column="medcine_id" property="medcineId" jdbcType="INTEGER" />
		<result column="dosis" property="dosis" jdbcType="VARCHAR" />
		<result column="dosingTime" property="dosingtime" jdbcType="VARCHAR" />
		<result column="times" property="times" jdbcType="VARCHAR" />
		<result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
		<result column="doc_id" property="docId" jdbcType="INTEGER" />
		<result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
		<association property="medcine" javaType="com.mlnx.chronic.entity.TMedcine">
			<id column="mid" property="id" jdbcType="INTEGER" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="pic" property="pic" jdbcType="VARCHAR" />
			<result column="description" property="description" jdbcType="VARCHAR" />
			<result column="type" property="type" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<resultMap type="com.mlnx.chronic.vo.medcine.MedicinePrescription"
		id="MedicinePrescriptionResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="patient_id" property="patientID" jdbcType="INTEGER" />
		<result column="startTime" property="startMpTime" jdbcType="TIMESTAMP" />
		<result column="doc_id" property="doctorID" jdbcType="INTEGER" />
		<result column="doctor_name" property="doctorName" jdbcType="VARCHAR" />
		<result column="type" property="prescriptionType" jdbcType="VARCHAR" />
		<association property="medicinePs"
			javaType="com.mlnx.chronic.vo.medcine.MedicineP">
			<id column="mid" property="id" jdbcType="INTEGER" />
			<result column="drug_name" property="drugName" jdbcType="VARCHAR" />
			<result column="img" property="img" jdbcType="VARCHAR" />
			<result column="blfy" property="blfy" jdbcType="VARCHAR" />
			<result column="jj" property="jj" jdbcType="VARCHAR" />
			<result column="manu" property="manu" jdbcType="VARCHAR" />
			<result column="pzwh" property="pzwh" jdbcType="VARCHAR" />
			<result column="syz" property="syz" jdbcType="VARCHAR" />
			<result column="zc" property="zc" jdbcType="VARCHAR" />
			<result column="zycf" property="zycf" jdbcType="VARCHAR" />
			<result column="yfyl" property="yfyl" jdbcType="VARCHAR" />
		</association>

	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_patient_medcine
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.mlnx.chronic.entity.TPatientMedcine">
		insert into t_patient_medcine
		(id, patient_id, medcine_id,
		dosis, dosingTime, times,
		startTime,
		doc_id, timestamp,type
		)
		values (#{id}, #{patientId}, #{medcineId},
		#{dosis},
		#{dosingtime}, #{times},
		#{starttime}, #{docId},
		#{timestamp},#{type}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.mlnx.chronic.entity.TPatientMedcine">
		update t_patient_medcine
		<set>
			<if test="patientId != null and patientId != ''">
				patient_id = #{patientId},
			</if>
			<if test="medcineId != null and medcineId != ''">
				medcine_id = #{medcineId},
			</if>
			<if test="dosis != null and dosis != ''">
				dosis = #{dosis},
			</if>
			<if test="dosingtime != null and dosingtime != ''">
				dosingTime = #{dosingtime},
			</if>
			<if test="times != null and times != ''">
				times = #{times},
			</if>
			<if test="starttime != null and starttime != ''">
				startTime = #{starttime},
			</if>
			<if test="docId != null and docId != ''">
				doc_id = #{docId},
			</if>
			<if test="timestamp != null and timestamp != ''">
				timestamp = #{timestamp},
			</if>
			<if test="type != null and type != ''">
				type = #{type}
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select *
		from t_patient_medcine
		where id = #{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select *
		from t_patient_medcine
	</select>
	<select id="getMedcine" parameterType="com.mlnx.chronic.entity.TPatientMedcine"
		resultMap="PrescriptionResultMap">
		select tm.*,
		m.id mid,
		m.name,
		m.pic,
		m.description,
		m.type
		from
		t_patient_medcine tm left outer join t_medcine m on tm.medcine_id
		=
		m.id where tm.patient_id = #{patientId} and tm.dosingtime =
		#{dosingtime}
	</select>
	<select id="getMedcinePrescription" parameterType="java.lang.Integer"
		resultMap="MedicinePrescriptionResultMap">
		select
		tm.*,
		doc.name doctor_name,
		m.*
		from t_patient_medcine tm
		left outer join t_medcine m on tm.medcine_id
		left outer join t_user_doc doc
		on doc.user_id = tm.doc_id
		= m.id where tm.patient_id = #{patientId}
	</select>
</mapper>