<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlnx.chronic.mapper.TPhoneValidMapper">
	<resultMap id="BaseResultMap" type="com.mlnx.chronic.entity.TPhoneValid">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="validcode" property="validcode" jdbcType="INTEGER" />
		<result column="date" property="date" jdbcType="TIMESTAMP" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_phone_valid
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.mlnx.chronic.entity.TPhoneValid">
		insert into t_phone_valid (id,
		phone, validcode,
		date)
		values
		(#{id}, #{phone},
		#{validcode},
		#{date})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.mlnx.chronic.entity.TPhoneValid">
		update t_phone_valid
		<set>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="validcode != null and validcode != ''">
				validcode = #{validcode},
			</if>
			<if test="date != null and date != ''">
				date = #{date}
			</if>
		</set>
		where
		id = #{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, phone, validcode, date
		from t_phone_valid
		where id =
		#{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, phone, validcode,
		date
		from t_phone_valid
	</select>
	<select id="selectByPhone" parameterType="String" resultType="com.mlnx.chronic.entity.TPhoneValid">
		select * from t_phone_valid where phone = #{phone}
	</select>
</mapper>