<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlnx.chronic.mapper.TReportMapper">
	<resultMap id="BaseResultMap" type="com.mlnx.chronic.entity.TReport">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="body" property="body" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="TIMESTAMP" />
		<result column="suggest" property="suggest" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_report
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.mlnx.chronic.entity.TReport">
		insert into t_report (id,
		title, body,
		author, time, suggest,
		user_id)
		values (#{id}, #{title},
		#{body},
		#{author}, #{time}, #{suggest},
		#{userId})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.mlnx.chronic.entity.TReport">
		update t_report
		<set>
			<if test="title != null and title != ''">
				title = #{title},
			</if>
			<if test="body != null and body != ''">
				body = #{body},
			</if>
			<if test="author != null and author != ''">
				author = #{author},
			</if>
			<if test="time != null and time != ''">
				time = #{time},
			</if>
			<if test="suggest != null and suggest != ''">
				suggest = #{suggest},
			</if>
			<if test="userId != null and userId != ''">
				user_id = #{userId},
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, title, body, author, time, suggest, user_id
		from t_report
		where id = #{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, title, body, author,
		time, suggest, user_id
		from t_report
	</select>
	<select id="selectByUserId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select * from t_report where user_id = #{user_id}
	</select>
	<select id="selectLastByUserId" parameterType="int" resultType="tReport">
		select * from t_report where user_id = #{user_id} and time = (select
		max(time) from t_report where user_id = #{user_id})
	</select>
</mapper>