<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlnx.chronic.mapper.TUserExtMapper">
	<resultMap id="BaseResultMap" type="com.mlnx.chronic.entity.TUserExt">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="patient_id" property="patientId" jdbcType="INTEGER" />
		<result column="height" property="height" jdbcType="INTEGER" />
		<result column="weight" property="weight" jdbcType="INTEGER" />
		<result column="pregnant" property="pregnant" jdbcType="INTEGER" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="usrInfo" id="userInfoMap">
		<result column="user_id" property="id" jdbcType="INTEGER" />
		<result column="patient_id" property="patientId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" javaType="Long"
			jdbcType="TIMESTAMP" />
		<result column="pic" property="headPicUrl" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="height" property="height" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="VARCHAR" />
		<result column="pregnant" property="pregnant" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="PatientVoResultMap" type="com.mlnx.chronic.vo.PatientVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="patient_id" property="patientId" jdbcType="INTEGER" />
		<result column="height" property="height" jdbcType="INTEGER" />
		<result column="weight" property="weight" jdbcType="INTEGER" />
		<result column="pregnant" property="pregnant" jdbcType="INTEGER" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="DATE"/>
		<association property="user" javaType="com.mlnx.chronic.entity.TUser">
			<result column="phone" property="phone" />
			<result column="password" property="password" />
			<result column="date" property="date" />
		</association>
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_user_ext
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.mlnx.chronic.entity.TUserExt">
		insert into t_user_ext (id,
		name, age,
		pic,
		user_id,sex,patient_id,height,weight,pregnant,birthday)
		values
		(#{id}, #{name},
		#{age},
		#{pic},
		#{userId},#{sex},#{patientId},#{height},#{weight},#{pregnant},#{birthday})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.mlnx.chronic.entity.TUserExt">
		update t_user_ext
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="age != null and age != ''">
				age = #{age},
			</if>
			<if test="pic != null and pic != ''">
				pic = #{pic},
			</if>
			<if test="userId != null and userId != ''">
				user_id = #{userId},
			</if>
			<if test="sex != null and sex != ''">
				sex = #{sex},
			</if>
			<if test="patientId != null and patientId != ''">
				patient_id = #{patientId},
			</if>
			<if test="height != null and height != ''">
				height = #{height},
			</if>
			<if test="weight != null and weight != ''">
				weight = #{weight},
			</if>
			<if test="pregnant != null and pregnant != ''">
				pregnant = #{pregnant},
			</if>
			<if test="birthday != null and birthday != ''">
				birthday = #{birthday}
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select *
		from t_user_ext
		where id = #{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select * from t_user_ext
	</select>
	<select id="findUserListByIds" resultMap="userInfoMap">
		select ext.*,u.phone from t_user_ext ext left join t_user u
		on u.id =
		ext.user_id where u.id in
		<foreach collection="list" item="integer" open="(" separator=","
			close=")">
			#{integer}
		</foreach>
	</select>
	<update id="updateByUserId" parameterType="com.mlnx.chronic.entity.TUserExt">
		update t_user_ext
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="age != null and age != ''">
				age = #{age},
			</if>
			<if test="pic != null and pic != ''">
				pic = #{pic},
			</if>
			<if test="userId != null and userId != ''">
				user_id = #{userId},
			</if>
			<if test="sex != null and sex != ''">
				sex = #{sex},
			</if>
			<if test="patientId != null and patientId != ''">
				patient_id = #{patientId},
			</if>
			<if test="height != null and height != ''">
				height = #{height},
			</if>
			<if test="weight != null and weight != ''">
				weight = #{weight},
			</if>
			<if test="pregnant != null and pregnant != ''">
				pregnant = #{pregnant},
			</if>
			<if test="birthday != null and birthday != ''">
				birthday = #{birthday}
			</if>
		</set>
		where user_id = #{userId}
	</update>
	<select id="getPatients" resultMap="PatientVoResultMap">
		select patient.*,user.phone,user.password,user.date from t_user_ext patient left outer join t_user user on user.id = patient.user_id
		where user_id in (select patient_id from
		t_doc_patient where doc_id =
		#{id});
	</select>
	<select id="selectByUserId" parameterType="int" resultMap="BaseResultMap">
		select *
		from t_user_ext
		where user_id = #{id}
	</select>
</mapper>