<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlnx.chronic.mapper.TUserFriendsMapper">
	<resultMap id="BaseResultMap" type="com.mlnx.chronic.entity.TUserFriends">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="friend_id" property="friendId" jdbcType="INTEGER" />
		<result column="group_id" property="groupId" jdbcType="INTEGER" />
		<result column="fouce" property="fouce" jdbcType="INTEGER" />
		<result column="open" property="open" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="confirm" property="confirm" jdbcType="INTEGER" />
		<result column="friend_remark" property="friendRemark"
			jdbcType="VARCHAR" />
	</resultMap>
		<resultMap id="FriendsInfoMap" type="friendsInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="friend_id" property="uid" jdbcType="INTEGER" />
		<result column="friend_remark" property="mark" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_user_friends
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.mlnx.chronic.entity.TUserFriends">
		insert into t_user_friends
		(id, user_id, friend_id,
		group_id, fouce,
		open,
		remark,confirm,friend_remark)
		values (#{id,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{friendId,jdbcType=INTEGER},
		#{groupId,jdbcType=INTEGER}, #{fouce,jdbcType=INTEGER},
		#{open,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR},
		#{confirm,jdbcType=INTEGER},
		#{friendRemark,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.mlnx.chronic.entity.TUserFriends">
		update
		t_user_friends
		<set>
			<if test="userId != null and userId !=''">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="friendId != null and friendId !=''">
				friend_id = #{friendId,jdbcType=INTEGER},
			</if>
			<if test="groupId != null and groupId !=''">
				group_id = #{groupId,jdbcType=INTEGER},
			</if>
			<if test="fouce != null and fouce !=''">
				fouce = #{fouce,jdbcType=INTEGER},
			</if>
			<if test="open != null and open !=''">
				open = #{open,jdbcType=INTEGER},
			</if>
			<if test="remark != null and remark !=''">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="confirm != null and confirm !=''">
				confirm = #{confirm,jdbcType=INTEGER},
			</if>
			<if test="friendRemark != null and friendRemark !=''">
				friend_remark = #{friendRemark,jdbcType=VARCHAR}
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, user_id, friend_id, group_id, fouce, open,
		remark,confirm,friend_remark
		from t_user_friends
		where id =
		#{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, user_id, friend_id,
		group_id, fouce, open,
		remark,confirm,friend_remark
		from t_user_friends
	</select>
	<select id="selectByUserFriends" parameterType="tUserFriends"
		resultMap="BaseResultMap">
		select *
		from t_user_friends where user_id = #{userId} and
		friend_id =
		#{friendId}
	</select>
	<select id="selectByIdAndGroupId" parameterType="tUserFriends"
		resultMap="BaseResultMap">
		select *
		from t_user_friends where user_id = #{userId} and
		group_id =
		#{groupId} and confirm = 1
	</select>
	<select id="selectByUserIdAndUNConfirmed" parameterType="tUserFriends"
		resultMap="BaseResultMap">
		select *
		from t_user_friends where friend_id = #{friendId}
		and
		confirm =
		#{confirm}
	</select>
	<select id="findByUserIdAndFriendId" parameterType="tUserFriends"
		resultMap="BaseResultMap">
		select *
		from t_user_friends where friend_id = #{friendId}
		and
		user_id =
		#{userId}
	</select>
	<update id="updateFriendRemark" parameterType="tUserFriends">
		update
		t_user_friends
		set friend_remark = #{friendRemark,jdbcType=VARCHAR}
		where id = #{id}
	</update>
	<select id="selectIdsByIdAndGroupId" parameterType="tUserFriends"
		resultMap="FriendsInfoMap">
		select friends.id,friends.friend_id,friends.friend_remark,ext.pic
		from t_user_friends friends left join t_user_ext ext on friend_id = ext.user_id where friends.user_id = #{userId} and
		friends.group_id =
		#{groupId} and friends.confirm = 1
	</select>
</mapper>