<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlnx.chronic.mapper.TVoipAccountMapper">
	<resultMap id="BaseResultMap" type="com.mlnx.chronic.entity.TVoipAccount">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="voip_account" property="voipAccount" jdbcType="VARCHAR" />
		<result column="voip_password" property="voipPassword"
			jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="date_created" property="dateCreated" jdbcType="VARCHAR" />
		<result column="friend_name" property="friendName" jdbcType="VARCHAR" />
		<result column="sub_account_sid" property="subAccountSid"
			jdbcType="VARCHAR" />
		<result column="sub_token" property="subToken" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.mlnx.chronic.vo.UsrVoipInfo" id="VoipInfoMap">
		<result column="voip_account" property="voipAccount" jdbcType="VARCHAR" />
		<result column="voip_password" property="voipPassword"
			jdbcType="VARCHAR" />
		<result column="user_id" property="id" jdbcType="INTEGER" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_voip_account
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.mlnx.chronic.entity.TVoipAccount">
		insert into t_voip_account
		(id, voip_account,
		voip_password,user_id,date_created,friend_name,sub_account_sid,sub_token
		)
		values (#{id}, #{voipAccount},
		#{voipPassword},#{userId},#{dateCreated},#{friendName},#{subAccountSid},#{subToken}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.mlnx.chronic.entity.TVoipAccount">
		update t_voip_account
		<set>
			<if test="voipAccount !=null and voipPassword != ''">
				voip_account = #{voipAccount},
			</if>
			<if test="voipPassword !=null and voipPassword != ''">
				voip_account = #{voipPassword},
			</if>
			<if test="userId !=null and userId != ''">
				user_id = #{userId},
			</if>
			<if test="dateCreated !=null and dateCreated != ''">
				date_created = #{dateCreated},
			</if>
			<if test="friendName !=null and voipPassword != ''">
				friend_name = #{friendName},
			</if>
			<if test="subAccountSid !=null and voipPassword != ''">
				sub_account_sid = #{subAccountSid},
			</if>
			<if test="subToken !=null and voipPassword != ''">
				sub_token = #{subToken}
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select *
		from t_voip_account
		where id =
		#{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select *
		from t_voip_account
	</select>
	<select id="findVoipAccountList" resultMap="VoipInfoMap">
		select *
		from t_voip_account
		where user_id in
		<foreach collection="list" item="integer" open="(" separator=","
			close=")">
			#{integer}
		</foreach>
	</select>
</mapper>